
/**.container_24 { background-image: url(img/24_col.gif);}**/
.container_24 { background-color: #FFF;}

body {
  background: #fff;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}


/***********
    Header
************/

#header {background-color: #fff  }
#header h2 {width: 940px; font-size: 26px; padding: 10px;  margin-left: -1px;}



/*************
   container
**************/

#container {min-height: 480px;}

.noticia {border: 1px solid black; height: 230px; margin-top: 5px; margin-bottom: 5px;}

.ui-autocomplete {width: 340px;}



/***************
    Sidebar
***************/

#sidebar {border: 1px solid black;}



/**************
    Footer
**************/

#footer {}
